body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: Raleway, sans-serif, Arial;
	color: #ffffff;
	background-color: #000000;
}

#particles-js {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

nav {
	position: absolute;
	z-index: 2;
}

.landing-page {
	height: 100vh;
	width: 100vw;
}

header {
	position: absolute;
	top: 50vh;
	bottom: 50vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: Raleway light, Sans-serif;
	font-size: 2rem;
	padding: 40px;
	color: white;
	text-decoration-style: none;
}

span {
	color: #e31b6d;
}

.header-buttons {
	display: flex;
	justify-content: center;
}

.button {
	text-align: center;
	font-family: Raleway light, sans-serif;
	z-index: 2;
}

.button:hover {
	color: #e31b6d;
}

.subtitle {
	color: #333333;
	font-size: 2.25rem;
	border-bottom: 2px solid #e31b6d;
	text-transform: uppercase;
	padding-bottom: 10px;
	padding-top: 15px;
}


/*About section*/

#about-section {
	font-family: Raleway bold, sans-serif, Arial; 
	height: 100vh;	
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #fff;
}

.pic-text-container {
	display: flex;
	align-items: center;
	font-family: Raleway light, sans-serif;
}

.text-container {
	width: 600px;
}

#resume {
	color: #e31b6d;
}

#resume:hover {
	background: #e31b6d;
	color: white;
	border: 1px solid white;
}

/*Projects section*/
#projects-section {
	margin-top: -24px;
	font-family: Raleway-bold, sans-serif, Arial;
	background: #f4f4f4;
	color: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.project-element {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 30px;
}

.project-desc {
	font-family: Raleway light, Montserrat thin, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 400px;
	margin: 20px;
}

.project-pic {
	opacity: 0.8;
}

#back-top {
	text-decoration: none;
	color: #e31b6d;
	padding: 10px;
	animation: bounce infinite 1s linear;
}

@keyframes bounce {
	0%{
		transform: translateY(0px);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0px);
	}
}

/*Media Queries*/

@media (max-width: 800px) {
	header {
		font-size: 1.6rem;
		padding: 0;
	}

	.button {
		width: auto;
	}

	#about-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: auto;
	}

	.pic-text-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.text-container {
		width: 100%;
		text-align: center;
	}
	.button-container {
		display: flex;
		justify-content: center;
	}

	.project-element {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	.project-desc {
		width: 100%;
		text-align: center;
	}
}
